@model IEnumerable<BuildABandHub.Models.MusicEnthusiast>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Music Enthusiasts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MusicEnthusiastId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
