@model IEnumerable<BuildABandHub.Models.Musician>

@{
    ViewData["Title"] = "Musicians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Musicians</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.State)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PracticePerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GigsPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GigsPerWeek)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    var imagePath = "~/images/" + (item.ImagePath ?? "noimage.jpg");
        <tr>
            <td>
                <img class="imageThumbnail" src="@imagePath" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracticePerWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GigsPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GigsPerWeek)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MusicianId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
